/* .card-list {
  width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
} */
.main {
  padding: 30px;
}
.section {
  max-width: 1200px;
  margin: 0 auto;
}
.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 250px));
  grid-gap: 25px 25px;
  justify-content: center;
  /* align-items: center; */
}
